title: UltimaWorks Studio 
description: UO Art Releases, Python Scripts, and Server Scripts by JBob. 
theme: jekyll-theme-cayman 
remote_theme: pages-themes/cayman@v0.2.0
plugins:   
  - jekyll-remote-theme
